@model IEnumerable<AubReviews.Models.Course>;

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1>Passbook</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Cname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cnumber)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a>@Html.DisplayFor(modelItem => item.Cname)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cnumber)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>